<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Input Email</title>
</head>
<body>
    <div class="container">
        <form action="/email/save" method="post">
            <input type="hidden" name="id">
            <div>
                <label for="email">Email:</label>
                <input type="text" name="email">
                {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                    {% if messages %}                            <!-- check if there are any messages -->
                        {% for message in messages %}            <!-- loop through the messages -->
                            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                                {% endfor %}
                        {% endif %}
                {% endwith %}
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>